html, body {
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-image:  url(assets/bg.png);
	height: 100vh;
	background-size: 100% 110%;
	background-position: center;
	background-repeat: no-repeat;
}

/* Add a container to hold your main content */
.page-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
}

.welcome {
    font-family: "newake";
    font-size: 40px;
    color: #3d3b3c;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10vh; /* Optional: Set a height for vertical centering to work */
    background-color: white;
    z-index: 1;
}

.welcome p {
    justify-content: left;
}

.welcome .buttons{
    text-align: right;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.welcome .buttons button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #3d3b3c;
    border-style: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.welcome .buttons button:first-child {
    background-color: #f3a61e;
    color: #3d3b3c;
}

.welcome .buttons button:not(:first-child):hover {
    color: #3d3b3c; /* Change font color on hover for buttons from 2nd child to last child */
}

.welcome .buttons button:not(:first-child):not(:hover) {
    background-color: transparent; /* Set background color of other buttons to transparent when not hovered */
}

.welcome .buttons button:hover {
    background-color: white;
}

.nav_bar {
    width: 70%;
    max-width: 800px; /* Example max-width */
    margin: 70px auto 50px;
    display: grid; /* Changed to grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    justify-content: center; /* Keep this for overall horizontal centering of the grid */
    align-items: center; /* Keep this for overall vertical centering of the grid */
}

.nav_bar img {
	width: 70%;
	cursor: pointer;
}

.nav_bar img:hover {
	transform: scale(1.1) rotate(0deg);
	border-radius: 25px;
}

.nav_item {
    position: relative; /* Add this line */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav_text {
    position: absolute;
    top: -40px; /* Adjust this value */
    left: 50%;      /* Corrected left value */
    transform: translateX(-50%);
    color: #f3a61e;
    padding: 6px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    white-space: nowrap;
    font-size: 30px;
    font-family: "newake";
    z-index: 1;
}

.nav_item:hover .nav_text {
    visibility: visible;
    opacity: 1;
}

.scrollable-div::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar */
}

.scrollable-div {
    width: 80%; /* Or a max-width in pixels, e.g., 900px */
    max-width: 900px;
    margin: 5vh auto;
    height: 65vh;
    overflow-y: scroll; /* Add vertical scrollbar */
    padding: 10px; /* Optional: Add some padding */
}

.scrollable-div p, h1, h2{
    text-align: center; /* Corrected: Use text-align to center text */
    font-family: "newake";
    color: #f3a61e;
    font-weight: normal;
}

.scrollable-div img{
    max-width: 50%; /* Make the image responsive */
    max-height: 50%; /* Make the image responsive */
    display: block; /* Remove extra space below image */
    margin: auto;
    border-radius: 25px;
}

.back-link {
    font-size: 16px;
    color: #f3a61e;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-family: "newake";
}